*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    max-width: 720px;
    margin: 30px auto 0;
}
.tabs-header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
}
.tab-control {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 0 5px;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
}
.tab-control__num {
    position: relative;
    z-index: 10;
}
.tab-control__figure {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.tab-control__figure--1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #000;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-color: #eee;
}
.tab-control.active .tab-control__figure--1 {
    background-color: grey;
}
.tab-control__figure--2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 50px;
    border-color: transparent transparent #eee transparent;
}
.tab-control__figure--2:before {
    content: '';
    top: 25px;
    left: -10px;
    position: absolute;
    height: 1px;
    width: 71px;
    background-color: #000;
    transform: rotate(45deg);
}
.tab-control__figure--2:after {
    content: '';
    top: 25px;
    right: -10px;
    position: absolute;
    height: 1px;
    width: 71px;
    background-color: #000;
    transform: rotate(-45deg);
}
.tab-control.active .tab-control__figure--2 {
    border-color: transparent transparent grey transparent;
}
.tab-control__figure--3 {
    height: 100%;
    width: 100%;
    background-color: #eee;
    border: 1px solid #000;
}
.tab-control__figure--3-item-1 {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 5;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 0 0;
    border-color: #fff transparent transparent transparent;
}
.tab-control__figure--3-item-1:before {
    content: '';
    position: absolute;
    top: -13px;
    left: -4px;
    height: 1px;
    width: 33px;
    background-color: #000;
    transform: rotate(-45deg);
}
.tab-control__figure--3-item-2 {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 5;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 25px 0;
    border-color: transparent #fff transparent transparent;;
}
.tab-control__figure--3-item-2:before {
    content: '';
    position: absolute;
    top: 12px;
    left: -4px;
    height: 1px;
    width: 34px;
    background-color: #000;
    transform: rotate(45deg);
}
.tab-control.active .tab-control__figure--3 {
    background-color: grey;
}
.tab-control__figure--4 {
    width: 100%;
    height: 100%;
    background-color: #eee;
    border: 1px solid #000;
}
.tab-control__figure--4:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 5;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
.tab-control__figure--4:after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 5;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
.tab-control.active .tab-control__figure--4 {
    background-color: grey;
}

.tabs-main {
    margin-top: 25px;
}
.tab__title {
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 700;
}
.tab {
    display: none;
}
.tab.active {
    display: block;
}
.tab span {
    background-color: grey;
}